<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.firstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".First_App_Activity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Draw_Activity"
            android:name=".Draw_Activity"
            android:parentActivityName="com.mycompany.firstapp.First_App_Activity" >
        </activity>
		<activity
            android:label="@string/second_activity"
            android:name=".Second_Activity" 
			android:parentActivityName="com.mycompany.firstapp.First_App_Activity" >
            <meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.mycompany.firstapp.First_App_Activity"
			/>
        </activity>
		<activity
            android:label="@string/third_activity"
            android:name=".Third_Activity" 
			android:parentActivityName="com.mycompany.firstapp.First_App_Activity" >
            
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.mycompany.firstapp.First_App_Activity"
			/>
        </activity>
		<activity
            android:label="@string/progress_activity"
            android:name=".Progress_Activity" 
			android:parentActivityName="com.mycompany.firstapp.Progress_Activity" >

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.mycompany.firstapp.First_App_Activity"
			/>
        </activity>
		
		<activity
			android:label="log_viewer"
			android:name=".Log_Viewer"
			android:parentActivityName="com.mycompany.firstapp.First_App_Activity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.mycompany.firstapp.First_App_Activity"
			/>
		</activity>
		<activity
			android:label="Graphics_Activity"
			android:name=".graphics.Graphics_Activity"
			android:parentActivityName="com.mycompany.firstapp.First_App_Activity">>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.mycompany.firsstapp.First_App_Activity"
				/>
		</activity>
</application>

</manifest>
